# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Compiled class files
*.class

# Logs
*.log

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
out/

# OS
.DS_Store
Thumbs.db

# Entorno local
.env
requirements_2.md
